<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <article class="barra">
            <img src="/img/logo-mercado-liebre.svg" alt="logo">

            <form action="#" method="post" class="buscar">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>

            <p><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </article>

        <nav>
            <ul class="nav-bar">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            
            <ul class="login">
                <li>
                    <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>

        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <article class="banner">
        <img src="/img/img-home-banner.jpg" alt="banner">
    </article>

    <main>
        <h3>Basado en tu última visita</h3>

        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </a>                   
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-tv-samsung-smart.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="nombre">SmartTv Samsung 43''</p>
                    </div>
                </a>
            </article>
        </section>

        <h3>Sección de Ofertas</h3>
        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </a>                    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/img/img-tv-samsung-smart.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="nombre">SmartTv Samsung 43''</p>
                    </div>
                </a>
            </article> 
        </section>
    </main>

    <footer>
        <section class="tarjetas-footer">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>

            <article>
                <i class="fa-solid fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>

            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </article>
        </section>
        
    </footer>  
    
</body>
</html>